html{
    font-size: 16px;
    --clr1:rgb(235, 246, 133);
    --clr2:rgb(99, 116, 244);
    --clr3:rgb(186, 185, 240);
    --clr4:rgb(188, 135, 43);
}
.navi{
    background-color: white;
}
.navi-name{
    color: var(--clr2);
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 900;
}
.navbar-brand{
    margin: 0.5rem;
}

.navi-name:hover{
    color:var(--clr3);
}
.mnu{
    text-decoration: none;
    color: var(--clr4);
    font-size: 1.3rem;
    transition: .5s;
    margin-right: 0.625rem;
}
.mnu:hover{
    color: var(--clr2);
    transform: scale(1.05);
}
.image{
    width: 100%;
    height: 600px;
    background-size:contain ;
    background-position: center;
}
.pic{
    width: 100%;
    height: 600px;
}
@media screen and (max-width:600px) {
    html{
        font-size: 9px;
    }
    .image{
        height: 300px;
    }
    .pic{
        height: 300px;
    }

    
}

